<form action="" class="col-md-4 offset-4 mt-5 card card-body">
        <div class="form-group">
                <input type="text"name="email"id="email1"class="form-control"placeholder="please login">
            </div>
    <div class="form-group">
        <input type="email"name="email"id="email"class="form-control"placeholder="Enter Email....">
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" class="form-control"placeholder="Enter password....">
        
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary float-right">
           Login
        </button>
    </div>
</form>