form{
    border: 1px solid black;
    width:300px;
    height:300px;
    margin:200px 0 0 620px;
    text-align: center;  
    background-color: aliceblue;
    font-size: 20px;
    font-family:cursive;
    border-radius: 25px; 
    background-image: url(/images/bloom-close-up-colorful-85773.jpg);
    background-size: cover;
    color: white;
}
body{
    background-image: url(/images/watermelon.jpg);
    background-size: cover;
}
input[type="text"],input[type="password"]{
    width: 250px;
    height:22px;
    border:1px solid chartreuse;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    color:blue;
    outline: none
}
input[type="text"]:focus,input[type="password"]:focus{
    
    
}
input[type="submit"]{
    padding: 12px;
    border-radius:15px;
    background-color: white;
    color:black;
    font-size: 15px;
    outline: none;

}
input[type="submit"]:hover{
    background-color:blue;
    color:black;
    border: 1px solid red;
}
 