<nav class="navbar navbar-expand-lg navbar-light bg-primary" *ngIf="isLLoggedIn">
    <a class="navbar-brand text-light" routerLink="/add-book">Add Books</a>
    <a class="navbar-brand text-light" routerLink="/display-book">Display Books</a>
    <a class="navbar-brand text-light" routerLink="/search-book">Search Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>