<!-- Search book by name:
<input type="search" name="search" [(ngModel)]='search' placeholder="enter book name">
<table align="center">
    <thead class="thead-dark">
        <tr>
            <th>Book Name</th>
            <th>Author1</th>
            <th>Author2</th>
            <th>Publisher</th>
            <th>Year of Publication</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let booksDetails of BooksDetails | filter:search index as i'>
            <td>{{i+1}}</td>
            <td>booksDetails.bookName</td>
            <td>booksDetails.author1</td>
            <td>booksDetails.author2</td>
            <td>booksDetails.publisher</td>
            <td>booksDetails.yearOfPublication</td>
        </tr>
    </tbody>
</table>
 -->
